<div>
  <div class="flavor-text">
    {{attackType}}
  </div>
  {{#each hits as |hit iid|}}
  <div class="minor-qol-flex-container">

    {{hit.hitString}}&nbsp
    {{#if isPC}} 
      <div class="minor-qol-target-name" id={{hit.target.id}}> {{hit.target.actor.name}}&nbsp</div> 
    {{else}}
      <div class="minor-qol-target-npc minor-qol-target-name" id={{hit.target.id}}> {{hit.target.name}}&nbsp</div> 
    {{/if}}
      <img src= "{{hit.img}}" height="30" border:0>
  </div>
  {{/each}}
  <div class="flavor-text" style="text-align: center">{{damageAppliedString}}</div>
</div>